/* Template CSS file for ymmsl2svg, uses dollar-style parametrization. */

/* Debug block styles */
.TimelineBlock {
    fill: rgb(195, 130, 255);
}
.TopConduitDuct {
    fill: #ccc;
}
.ConduitDuct {
    fill: #aaa;
}
.ComponentBlock {
    fill: rgb(134, 146, 255);
}
.ModelBlock {
    fill: #baffbd;
}

/* Global styles */
text {
    font-family: sans-serif;
    font-size: 16px;
}

/* Model styles */
.model {
    rx: 1;
    fill: #eee;
    stroke: #000;
    stroke-width: ${model_border};
}

/* Component styles */
.component {
    rx: 5;
    fill: #fff;
    stroke: #000;
    stroke-width: ${component_border};
}
.ComponentBlock_group text {
    text-anchor: middle;
    dominant-baseline: middle;
}

/* Port styles */
#port-f_init, #port-o_f, #port-o_i, #port-s {
    stroke: black;
    stroke-width: 2;
}
#port-f_init, #port-s {
    fill: white;
}
#port-o_f, #port-o_i {
    fill: black;
}

/* Conduit styles */
.conduit {
    fill: none;
    stroke: #000;
    stroke-linecap: square;
    stroke-width: ${conduit_width};
}
